@use 'variables' as *;

.follow-along-card {
  background: $color-bg-surface;
  border: u(0.5) solid $color-accent-primary;
  border-radius: u(4);
  padding: u(6);
  margin-bottom: u(5);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    margin-bottom: u(2);
  }

  h3 {
    font-family: $font-monospace;
    color: $color-text-secondary;
    margin-bottom: u(6);
  }

  ss-timer {
    text-align: center;
    align-self: stretch;
    margin-bottom: u(6);
  }

  button {
    align-self: stretch;
  }
}
