@use 'variables' as *;

h2 {
  font-family: $font-monospace;
  color: $color-tertiary;
}

header {
  h1 {
    margin-bottom: u(1.5);
  }
}

main {
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: u(3);
  }
}
