@use 'variables' as *;

h2 {
  font-family: $font-monospace;
  color: $color-tertiary;
}

header {
  h1 {
    margin-bottom: u(1.5);
  }

  .exercise-progress {
    display: flex;
    align-items: center;
    gap: u(4);

    ss-progress-bar {
      flex: 1;
    }
  }
}

main {
  h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: u(3);
  }
}
