<header>
    <h1> {{ routine().name }} </h1>
    <ul class="details">
        <li> {{ routine().phases.length }} PHASES </li>
        <li> ~{{ routine().approximateTime() | formatSeconds }} </li>
    </ul>
</header>
<main>
    @for (phase of routine().phases; track phase.name) {
        <span class="phase-number">
            {{ $index + 1 | number: '2.0-0' }}
        </span>
        <h2 class="phase-name"> {{ phase.name }} </h2>
        <ul class="set-list">
        @for (set of phase.sets; track set) {
            @if (set.goals.length === 1) {
                <li class="card">
                    <h3> {{ set.goals[0].exercise.name }} </h3>
                    <div class="details">
                        @if (set.repetitions) {
                            {{ set.repetitions }} sets ×
                        }
                        {{ set.goals[0].target | repetition }}
                        @if (set.restTime) {
                            • {{ set.restTime | formatSeconds }} rest
                        }
                    </div>
                </li>
            } @else {
                <li>
                    <ul class="card">
                        @for (goal of set.goals; track goal.exercise.name) {
                            <li>
                                <h3> {{ goal.exercise.name }} </h3>
                                <div class="details">
                                    {{ goal.target | repetition }}
                                </div>
                            </li>
                        }
                        <li class="footer">
                            Superset
                            @if (set.repetitions) {
                                • {{ set.repetitions }} sets
                            }
                            @if (set.restTime) {
                                • {{ set.restTime | formatSeconds }} rest
                            }
                        </li>
                    </ul>
                </li>
            }
        }
        </ul>
    }
</main>
