<header>
    <h1> {{ routine().name }} </h1>
    <ul class="details">
        <li> {{ routine().phases.length }} PHASES </li>
        <li> ~{{ routine().approximateTime() | formatSeconds }} </li>
    </ul>
</header>
<main>
    @for (phase of routine().phases; track phase.name) {
        <span class="phase-number">
            {{ $index + 1 | number: '2.0-0' }}
        </span>
        <h2 class="phase-name"> {{ phase.name }} </h2>
        <ul class="set-list">
        @for (set of phase.sets; track set) {
            @if (set.kind == 'superset') {
                <li>
                    <ul class="card">
                        @for (exercise of set.exercises; track exercise.name) {
                            <li>
                                <h3> {{ exercise.name }} </h3>
                                <div class="details">
                                    @if (exercise.kind == 'dynamic') {
                                        {{ exercise.repetitions }} reps
                                    } @else if (exercise.kind == 'static') {
                                        {{ exercise.holdTime | formatSeconds }} hold
                                    }
                                </div>
                            </li>
                        }
                        <li class="footer">
                            Superset
                            @if (set.repetitions) {
                                • {{ set.repetitions }} sets
                            }
                            @if (set.restTime) {
                                • {{ set.restTime | formatSeconds }} rest
                            }
                        </li>
                    </ul>
                </li>
            } @else if (set.kind == 'set') {
                <li class="card">
                    <h3> {{ set.exercise.name }} </h3>
                    <div class="details">
                        @if (set.repetitions) {
                            {{ set.repetitions }} sets ×
                        }
                        @if (set.exercise.kind == 'dynamic') {
                            {{ set.exercise.repetitions }} reps
                        } @else if (set.exercise.kind == 'static') {
                            {{ set.exercise.holdTime | formatSeconds }} hold
                        }
                        @if (set.restTime) {
                            • {{ set.restTime | formatSeconds }} rest
                        }
                    </div>
                </li>
            }
        }
        </ul>
    }
</main>
