@use 'variables' as *;

html {
  font-size: u(4);
  font-family: $font-sans-serif;
  line-height: 1.2;
  background-color: $color-bg;
  color: $color-text-primary;
}

// Mobile like feel even on desktop
body {
  max-width: u(140);
  margin: 0 auto;
  padding: 0;
}
