@use 'variables' as *;

label {
  display: inline-block;
  padding: u(3) u(4);
  background: rgba(0, 102, 255, 0.1);
  border: u(0.25) solid rgba($color-accent-primary, 0.2);
  border-radius: u(2);
  font-family: $font-monospace;
  font-size: u(3);
  font-weight: $font-bold;
  color: $color-accent-primary;
}

.follow-along-card {
  label {
    margin-bottom: u(4);
  }

  .superset-progress {
    margin-bottom: u(3);
    text-align: center;
    align-self: stretch;
  }
}
