// Colors
$color-bg: #fafafa;
$color-bg-surface: #fff;
$color-text-primary: #0a0a0a;
$color-text-secondary: #6b6b6b;
$color-border-subtle: #e8e8e8;
$color-bg-surface-pop: #f5f8fa;
$color-bg-surface-pop-1: #e8f0fa;
$color-bg-surface-pop-2: #dce9fa;
$font-sans-serif: 'Outfit', sans-serif;
$font-monospace: 'JetBrains Mono', monospace;
$font-semi-bold: 600;
$font-bold: 700;

// Spacing
$base-unit: 0.25rem; // 4px at default font size

@function u($steps) {
  @return $base-unit * $steps;
}
