@if (ongoingSet().isSuperset) {
    @if (ongoingSet().totalRepetitions > 1) {
        <label>
            Superset • Set {{ ongoingSet().repetition }}/{{ ongoingSet().totalRepetitions }}
        </label>
    }
    <h3 class="superset-progress">
        Exercise {{ ongoingSet().index + 1 }}/{{ ongoingSet().totalExercises }}
    </h3>
    <h1>{{ ongoingSet().goal.exercise.name }}</h1>
    <h3>{{ ongoingSet().goal.target | repetition }}</h3>
} @else {
    <h1>{{ ongoingSet().goal.exercise.name }}</h1>
    <h3>
        @if (ongoingSet().totalRepetitions > 1) {
            Set {{ ongoingSet().repetition }}/{{ ongoingSet().totalRepetitions }} •
        }
        {{ ongoingSet().goal.target | repetition }}
    </h3>
}

@switch (ongoingSet().state) {
    @case ('starting') {
        <ss-timer label="Ready to start" [running]="false" [(time)]="timerTime"></ss-timer>
        <button class="primary" (click)="startExercise()">Start</button>
    }
    @case ('started') {
        <ss-timer label="Started" [running]="true" [(time)]="timerTime"></ss-timer>
        <button class="secondary" (click)="completeExercise()">Complete</button>
    }
    @case ('resting') {
        <ss-timer class="warning"
                  [label]="'Rest (' + (ongoingSet().restTime | formatSeconds) + ' target)'"
                  [running]="true"
                  [(time)]="timerTime"
                  [limit]="ongoingSet().restTime"
                  (finished)="finishRest()">
        </ss-timer>
        <ss-goals-attempts-editor
            [goals]="ongoingSet().goalsWithTargets"
            [(goalsAttempts)]="editedGoalsAttemp" />
        <button class="secondary" (click)="finishRest()">Skip Rest</button>
    }
}
